{
  "openapi": "3.1.0",
  "info": {
    "title": "AIShield API",
    "version": "2.1.0",
    "description": "Agent-native AI tool security scanner. Scan MCP/Skill/GPT/Prompt for security risks.",
    "contact": {
      "name": "AIShield",
      "url": "https://aishield.ai"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://aishield.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/health": {
      "get": {
        "summary": "Health check",
        "operationId": "health",
        "tags": ["system"],
        "responses": {
          "200": {
            "description": "Service health",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "healthy" },
                    "version": { "type": "string", "example": "2.1.0" },
                    "audits_count": { "type": "integer", "example": 127 },
                    "tools_count": { "type": "integer", "example": 14 }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit": {
      "post": {
        "summary": "Submit security audit",
        "description": "Submit an AI tool for security scanning. Returns audit_id for polling. Free: 5/day, Pro: 200/day.",
        "operationId": "submitAudit",
        "tags": ["audit"],
        "security": [
          { "ApiKeyAuth": [] },
          {}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["tool_type", "source_url"],
                "properties": {
                  "tool_type": {
                    "type": "string",
                    "enum": ["mcp", "skill", "gpt", "prompt"],
                    "description": "Type of AI tool"
                  },
                  "source_url": {
                    "type": "string",
                    "description": "GitHub repo URL or tool source URL",
                    "example": "https://github.com/modelcontextprotocol/servers"
                  },
                  "name": {
                    "type": "string",
                    "description": "Tool name (optional)",
                    "example": "mcp-servers"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Audit submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audit_id": { "type": "string", "example": "audit_abc123" },
                    "status": { "type": "string", "example": "pending" }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "tier": { "type": "string" },
                    "remaining": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/audit/{id}": {
      "get": {
        "summary": "Get audit result",
        "description": "Poll for audit result. Status: pending → scanning → completed/failed.",
        "operationId": "getAudit",
        "tags": ["audit"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "audit_id": { "type": "string" },
                    "status": { "type": "string", "enum": ["pending", "scanning", "completed", "failed"] },
                    "report": {
                      "type": "object",
                      "properties": {
                        "overall_score": { "type": "integer", "minimum": 0, "maximum": 100 },
                        "security_score": { "type": "integer", "minimum": 0, "maximum": 100 },
                        "privacy_score": { "type": "integer", "minimum": 0, "maximum": 100 },
                        "quality_score": { "type": "integer", "minimum": 0, "maximum": 100 },
                        "performance_score": { "type": "integer", "minimum": 0, "maximum": 100 },
                        "risk_level": { "type": "string", "enum": ["safe", "medium", "high", "critical"] },
                        "badge_level": { "type": "string", "enum": ["gold", "silver", "bronze", "none"] },
                        "findings": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": { "type": "string" },
                              "severity": { "type": "string", "enum": ["critical", "high", "medium", "low", "info"] },
                              "description": { "type": "string" },
                              "file": { "type": "string" },
                              "lines": { "type": "string" }
                            }
                          }
                        },
                        "recommendations": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools": {
      "get": {
        "summary": "List scanned tools",
        "operationId": "listTools",
        "tags": ["tools"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tools": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "tool_type": { "type": "string" },
                          "source_url": { "type": "string" },
                          "overall_score": { "type": "integer" },
                          "risk_level": { "type": "string" },
                          "badge_level": { "type": "string" }
                        }
                      }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/stats": {
      "get": {
        "summary": "Global statistics",
        "operationId": "getStats",
        "tags": ["system"],
        "responses": {
          "200": {
            "description": "Statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_audits": { "type": "integer" },
                    "total_tools": { "type": "integer" },
                    "avg_security_score": { "type": "number" },
                    "by_badge": { "type": "object" },
                    "by_risk": { "type": "object" },
                    "by_type": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/badge-name/{name}": {
      "get": {
        "summary": "Get SVG badge",
        "description": "Returns an SVG security badge for embedding in README files.",
        "operationId": "getBadge",
        "tags": ["badge"],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "SVG badge",
            "content": {
              "image/svg+xml": {
                "schema": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/api/v1/pricing": {
      "get": {
        "summary": "Get pricing info",
        "operationId": "getPricing",
        "tags": ["billing"],
        "responses": {
          "200": {
            "description": "Pricing tiers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tiers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "price": { "type": "string" },
                          "scans_per_day": { "type": "string" },
                          "features": { "type": "array", "items": { "type": "string" } }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/keys": {
      "post": {
        "summary": "Create API key",
        "description": "Create a new API key after payment.",
        "operationId": "createKey",
        "tags": ["billing"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order_id": { "type": "string" },
                  "email": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": { "type": "string" },
                    "tier": { "type": "string" },
                    "expires_at": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/keys/info": {
      "get": {
        "summary": "Get API key info",
        "operationId": "getKeyInfo",
        "tags": ["billing"],
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Key info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": { "type": "string" },
                    "remaining": { "type": "integer" },
                    "expires_at": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/payment/create": {
      "post": {
        "summary": "Create payment order",
        "description": "Create a payment order via Hupijiao (Alipay/WeChat Pay).",
        "operationId": "createPayment",
        "tags": ["billing"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "product": { "type": "string", "enum": ["pro_monthly", "enterprise_monthly", "scan_10", "scan_50"] },
                  "email": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment order created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": { "type": "string" },
                    "pay_url": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  },
  "tags": [
    { "name": "audit", "description": "Security audit operations" },
    { "name": "tools", "description": "Tool database" },
    { "name": "badge", "description": "Security badges" },
    { "name": "billing", "description": "Pricing and API keys" },
    { "name": "system", "description": "System endpoints" }
  ]
}
